@import '../../../index.module.scss';
.wrapper {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $primaryFont;
}
@mixin hover {
    color: $secondary;
    transform: scale(1.4);
}
.navItemLink {
    padding: 0 5px;
    position: relative;
    font-size: 1vw;
    transition: .3s ;
    color: $primary;
    text-decoration: none;
    cursor: pointer;

    &Active  {
        @include hover;
    }
}
.navItemLink:hover {
    @include hover;
}