@import '../../index.module.scss';

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: $black;
    box-shadow: 0 0 20px 10px $black;
    color: $primary;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    align-items: center;

    & h1 {
        font-family: $primaryFont;
        letter-spacing: 5px;
        font-size: 3vw;
        & span {
            color: $secondary;
        }
    }
    & li {
        padding: 5px 0;
        font-family: $secondaryFont;
        list-style: none;
        & span {
            color: gray;
        }
    }
}