@import '../../index.module.scss';

.wrapper {
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 20px 0 $black;
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.coffeeCup, .text {
    width: 50%;
    height: 100%;
}
.coffeeCup {   
    @include backgroundImage('assets/images/pexels-junior-teixeira-2047899.jpg', cover);
}
.text { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $black;
    padding: 0 5% 0 10%;
    & h1 {
        font-size: 5vw;
        letter-spacing: 10px;
        font-family: $primaryFont;
        color: $primary;
        & span {   
            color: $secondary;
        }
    }
    & p {
        margin-top: 20px;
        font-size: 0.8vw;
        font-family: $secondaryFont;
        color: $gray;
    }
}
.coffeeBag {
    width: 20%;
    height: 55%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    & p {
        transition: .3s;
        width: 100%;
        height: 100%;
        @include backgroundImage('assets/images/popular-coffee-bag.png', contain);
    }
    &:hover p  {
        transform: scale(1.05); 
    }
}
@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
    }    
    .coffeeCup, .text {
        width: 100%;
        height: 50%;
    }
    .text {
        & h1 {
            letter-spacing: 5px;
            font-size: 7vw;
        }
        & p {
            font-size: 3vw;
        }
    }
    .coffeeBag {
        width: 30%;
        top: 45%;
        transform: translate(-50%,-50%);
    }
}