// Font Staatliches
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
$primaryFont: 'Staatliches', cursive;

// Font Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap');
$secondaryFont: 'Montserrat', sans-serif;

// Colors
$primary: whitesmoke;
$secondary: #aa3007;
$black: #000000;
$gray: #363636;

@mixin backgroundImage($url, $size) {
  background: {
    image: url($url);
    position: center;
    repeat: no-repeat;
    size: $size; 
  };
}
*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $primary;
}